USE [master]
GO
/****** Object:  Database [igsitDBTest]    Script Date: 9/25/2024 11:09:12 AM ******/
CREATE DATABASE [igsitDBTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'igsitDBTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\igsitDBTest.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'igsitDBTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\igsitDBTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [igsitDBTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [igsitDBTest]
GO
/****** Object:  Table [dbo].[T_Penalty]    Script Date: 9/25/2024 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Penalty](
	[fpnl_ID] [int] IDENTITY(1,1) NOT NULL,
	[fpnl_PenaltyCode] [int] NOT NULL,
	[fpnl_PenaltyCost] [int] NOT NULL,
	[fpnl_PenaltyDescription] [nvarchar](200) NOT NULL,
 CONSTRAINT [UQ_PenaltyCode] UNIQUE NONCLUSTERED 
(
	[fpnl_PenaltyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_PenaltyRegister]    Script Date: 9/25/2024 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PenaltyRegister](
	[fprg_ID] [int] IDENTITY(1,1) NOT NULL,
	[fprg_personCode] [int] NULL,
	[fprg_PenaltyCode] [int] NULL,
	[fprg_PenaltyDate] [nchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[fprg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Persons]    Script Date: 9/25/2024 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Persons](
	[fprs_ID] [int] IDENTITY(1,1) NOT NULL,
	[fprs_personCode] [int] NOT NULL,
	[fprs_Name] [varchar](20) NULL,
	[fprs_LastName] [varchar](50) NULL,
	[fprs_VinCode] [varchar](17) NULL,
 CONSTRAINT [PK_T_Persons] PRIMARY KEY CLUSTERED 
(
	[fprs_personCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [idx_PenaltyCode]    Script Date: 9/25/2024 11:09:12 AM ******/
CREATE NONCLUSTERED INDEX [idx_PenaltyCode] ON [dbo].[T_PenaltyRegister]
(
	[fprg_PenaltyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_PersonCode]    Script Date: 9/25/2024 11:09:12 AM ******/
CREATE NONCLUSTERED INDEX [idx_PersonCode] ON [dbo].[T_PenaltyRegister]
(
	[fprg_personCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
